.main-content {
    width: calc(100% - 49px);
}

.main-content h1 {
    margin: 21px
}

.menu-btn {
    display: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #212242;
    margin: 0 0 21px 21px;
    border: 1px solid #E9EDF0;
    border-radius: 2px;
    padding: 3px;
    width: 16px;
}

.menu-btn p {
    margin: 0;
}

.back-btn {
    display: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #212242;
    margin: 0 0 21px 21px;
    border: 1px solid #E9EDF0;
    border-radius: 2px;
    padding: 3px;
    width: 16px;
}

.back-btn p {
    margin: 0;
}

.menu-btn:focus {
    outline: none;
    border: 1px solid #6554C0;
    border-radius: 2px;
}

.columns {
    display: flex;
    height: 100%;
}

.columns a:focus {
    outline: none;
    border: 1px solid #6554C0;
    border-radius: 2px;
}

.left-column {
    width: 356px;
    border-top: 0.7px solid #E9EDF0;
    border-left: 0.7px solid #E9EDF0;
    border-right: 0.7px solid #E9EDF0;
    height: 100%;
}

.left-column-head {
    border-bottom: 0.7px solid #E9EDF0;
    padding: 10px 21px;
    font-size: 0.9em;
    height: 40px;
}

.right-column {
    width: calc(100% - 356px);
    border-top: 0.7px solid #E9EDF0;
    height: 100%;
}

.right-column-head {
    border-bottom: 0.7px solid #E9EDF0;
    padding: 15px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversations-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversation-navlink {
    color: #595E8A;
    text-decoration: none;
    padding: 3px 8px;
}

.active-navlink {
    color: #6554C0;
    background-color: #F6FAFD;
    border-radius: 10px;
}

.left-navlinks a {
    margin: 0 3px;
}

.right-navlinks {
    display: flex;
    align-items: center;
}

.avatar-preview-container {
    border: 0.8px solid #E9EDF0;
    padding: 3px;
    border-radius: 13.5px;
    display: flex;
}

.tiny-avatar-container {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    overflow: hidden;
}

.tiny-avatar {
    height: 100%;
    width: 100%;
}

.left-tiny-avatar {
    z-index: 10;
}

.center-tiny-avatar {
    z-index: 5;
    margin-left: -4px;
}

.right-tiny-avatar {
    margin-left: -4px;
}

.avatar-button {
    border-radius: 11.4px;
    border: solid 1.2px #E9EDF0;
    background-color: #ffffff;
    font-size: 0.9em;
    padding: 4px 16px;
    margin: 0 5px;
    color: #212242;
    cursor: pointer;
}

.avatar-button:hover {
    background-color: #E9EDF0;
}

.avatar-button:focus {
    outline: none;
    background-color: #6554C0;
    color: white;
}

.avatar-container {
    height: 19px;
    width: 19px;
    border-radius: 50%;
}

.avatar-container img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {
    .menu-btn {
        display: block;
    }

    .right-column {
        width: 100%;
    }

    .left-column {
        display: none;
    }
}
