body {
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    width: calc(100% - 44px);
    background-color: #6554C0;
    color: white;
    padding: 11px 22px;
    display: flex;
    justify-content: space-between;
}

.logo-link {
    height: 100%;
}

.header-nametag {
    display: flex;
    align-items: center;
}

.letter-oval {
    width: 8px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0 6px;
}

.letter-oval p {
    margin: auto;
}

.org-name {
    margin: 0 6px;
    font-size: 0.8em;
}

.dropdown-arrow {
    color: black;
    font-size: 0.8em;
    margin: 0 2px;
}

header a:focus {
    outline: none;
    border: 1px solid white;
    border-radius: 2px;
}
